# [PackageDev] target_format: plist, ext: tmLanguage
#
# Made by Justin Watson on 2016 Sept. 15 Sublime Text 3 build 3114
#
# This is a syntax highlighter for Kconfig.
#
# First I installed PackageDev using the Sublime Text 3 package manager.
# Then I made the M68k.JSON-tmLanguage file. I then opened the JSON-tmLanguage
# file and an example of the source. I would add a pattern to the JSON-tmLanguage
# file and then hit F7 and select "Convert to Propert List". I would then
# go to the example source and hit ctrl+shift+p to set the syntax. Then I
# would confirm it visually. I made sure to use the language grammar defined
# by textmate so that my color theme would be applied.
#
# I tried different naming conventions for some of the items to get more
# colors in the file to make it easier to read.
#
# Important links on how to make this file are....
# (http://docs.sublimetext.info/en/latest/extensibility/syntaxdefs.html)
# (http://manual.macromates.com/en/language_grammars#language_grammars)
#
# Order your matches from most specific to less specific. e.g. match ENDIF
# before EN in the file. Otherwise you will end up with EN the right color
# but not the D.
#
# To match using characters, but not include characterse in the highlight use
#
#
name: Kconfig
scopeName: source.kconfig
fileTypes: [kconfig]
uuid: a2fa95d2-7595-4a34-8332-14f2dfa0a0cc

patterns:
- name: string.quoted.single.kconfig
  match: '"[^"]*"'

- name: comment.kconfig
  match: (\*.*$|\#.*$)

- comment: Possible Config Values
  name: constant.language.kconfig
  match: \b(y|n|m)\b

- comment: Kconfig Type Definition
  name: storage.type.definition.kconfig
  match: (?i)\b(bool|tristate|string|hex|int)

- comment: Menu Attributes
  name: entity.name.tag.menu.attributes.kconfig
  match: (?i)\b(help|default|prompt|depends|range|option)?\b

# - comment: Help Text
#   name: string.block.kconfig
#   begin: 'help\n'
#   end: \n\n
#   patterns:
#   - include: $self
#   - name: string.block.kconfig
#     match: .

- comment: Flow Control
  name: keyword.control.kconfig
  match: (?i)\b(if|depends)?\b

- comment: Menus
  name: keyword.control.menu.kconfig
  match: (?i)\b(config|menu|select|choice|source|endchoice)?\b
