<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>kconfig</string>
		<string>Kconfig</string>
	</array>
	<key>name</key>
	<string>Kconfig</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>"[^"]*"</string>
			<key>name</key>
			<string>string.quoted.single.kconfig</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(\#.*$)</string>
			<key>name</key>
			<string>comment.kconfig</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\thelp\n</string>
			<key>comment</key>
			<string>Help Text</string>
			<key>end</key>
			<string>^config</string>
			<key>name</key>
			<string>entity.name.tag.menu.attributes.kconfig</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
				<dict>
					<key>match</key>
					<string>.*</string>
					<key>name</key>
					<string>string.quoted.kconfig</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>comment</key>
			<string>Possible Config Values</string>
			<key>match</key>
			<string>\b(y|n|m)\b</string>
			<key>name</key>
			<string>constant.language.kconfig</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>Kconfig Type Definition</string>
			<key>match</key>
			<string>(?i)\t\b(bool|tristate|string|hex|int)</string>
			<key>name</key>
			<string>storage.type.definition.kconfig</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>Menu Attributes</string>
			<key>match</key>
			<string>(?i)\t\b(default|def_bool|prompt|depends|range|option|select)?\b</string>
			<key>name</key>
			<string>entity.name.tag.menu.attributes.kconfig</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>Flow Control</string>
			<key>match</key>
			<string>(?i)\b(if|endif|depends)?\b</string>
			<key>name</key>
			<string>keyword.control.kconfig</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>Menu Entries</string>
			<key>match</key>
			<string>(?i)\b^(config|menuconfig|choice|endchoice|comment|menu|endmenu|source)?\b</string>
			<key>name</key>
			<string>keyword.control.menu.kconfig</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>Numeric Values</string>
			<key>match</key>
			<string>(\s0x[0-9A-Fa-f]*|\s[0-9]*)</string>
			<key>name</key>
			<string>constant.numeric.cpu32</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>source.kconfig</string>
	<key>uuid</key>
	<string>a2fa95d2-7595-4a34-8332-14f2dfa0a0cc</string>
</dict>
</plist>
